<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <rewrite>
            <rules>
                <rule name="Proxy para Spring Boot">
                    <match url="^(.*)$" />
                    <action type="Rewrite" url="http://localhost:8080/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <connectionStrings>
        <add connectionString="Server=BRAZIWADBT004.syngentaazure.org\\SQLSERVER2016:49170;Database=db_inteligenciacomercial;User ID=db_inteligenciacomercial;Password=a1B@c3D$e5" name="SQLSERVER_CONNECT" />
    </connectionStrings>
</configuration>